extends ../layout/main

block variables
	- var title = 'Главная';

block content
	section.top-block-wrap.mb-indent
		.container
			.row
				.col-12
					.st-width
						.top-block
							.row
								.col-lg-6.align-self-center
									.top-block__content
										h1 <b>Лазерная резка, гибка металла,</b> изготовление деталей в Москве

										.top-block__text
											.top-block__icon
												+svg('ic-triangle','ic-triangle', '16', '15')
											|Наше предприятие самостоятельно изготавливает полипропиленовые и стеклопластиковые корпуса для емкостей, насосных станций и очистных сооружений.

										a.btn.btn_border-white(href='#') Перезвоните мне

								.offset-xl-1.col-xl-5.col-lg-6
									.form-page
										.js-valid-form
											form.form-site
												.form-site__title Оставить заявку
												
												.form-site__content
													.form-site__item.js-form-site-item
														.form-site__label Ваше имя *
														.form-site__field
															input(type="text", required="required")

													.form-site__item.js-form-site-item
														.form-site__label Телефон *
														.form-site__field
															input(type="text", class="js-phone", required="required")

												.form-site__bottom
													.form-site__polit.js-form-site-polit
														label.input-check
															input(type='checkbox', checked="checked")
															span.input-check__mark
																+svg('ic-tick','ic-tick', '10', '6')
															span.input-check__text Согласен с пользовательским 
																a(href="#") соглашением и политикой конфиденциальности

													.form-site__btn
														button(type="submit").btn.js-btn-submit Отправить
															+svg('ic-arr-right','ic-arr-right', '27', '9')

	section.m-indent(id="company")
		.container
			.row
				.col-12
					.about
						.row
							.col-md-4.col-lg-6
								.about__img
									img(src="assets/img/pipes.png", alt="")

							.col-md-8.col-lg-6.align-self-center
								h2 <b>Гибка</b> металла

								p Компания «Семь треугольников» предоставляет услуги гибки металла на выгодных для заказчиков условиях на станках с числовым программным управлением. Выполняем гибку листового металла на основе заготовок с длиной не более 3 000 мм, толщиной не более 10 мм. Работаем с черной, нержавеющей сталью, алюминием, сплавами на его основе, латунью, медью, бронзой, титаном. Гнём детали из заготовок выполненных как в нашем цехе лазерной резки, так из заготовок заказчика.

	section.advant-wrap.m-indent
		.container
			.row
				.col-12
					h2.text-center <b>Наши</b> преимущества

					.advant
						-
							var list=[
								{icon:'ic-doc', icon_width:'40', icon_height:'40', text:'Мы строго соблюдаем действующие ГОСТ, СП, СанПиН, Регламент 123-ФЗ при изготовлении и монтаже емкостей'},
								{icon:'ic-money', icon_width:'40', icon_height:'40', text:'Вы получаете емкости по доступной стоимости без ущерба качества.'},
								{icon:'ic-sizes', icon_width:'40', icon_height:'40', text:'Вы можете заказать оборудование любой формы и размеров в зависимости от особенностей объекта.'},
								{icon:'ic-delivery', icon_width:'40', icon_height:'30', text:'Вам не нужно самостоятельно заботиться о доставке, все вопросы мы возьмем на себя;'},
								{icon:'ic-time', icon_width:'40', icon_height:'32', text:'Мы изготовим для вас нашу продукцию в минимально возможные сроки.'},
							]
						each item in list
							.advant__item
								.advant__icon
									+svg(item.icon, item.icon, item.icon_width, item.icon_height)

								.advant__text= item.text

	section.info-block.m-indent
		.container
			.row
				.col-lg-6.col-md-8.order-2.order-md-1
					h2 <b>Преимущества</b> сотрудничества с&nbsp;нашей компанией

					p Компания «Семь треугольников» предоставляет услуги по гибке листового металла на станках с числовым программным управлением, художественной гибке, штамповке и другие виды металлообработки.
					p Среди наших преимуществ в области гибки стоит выделить:

					ul.list-site
						li гибка изделий от 1 единицы и до партий в несколько тысяч штук;
						li высокий профессионализм специалистов;
						li стабильный коллектив;
						li современное высокоточное оборудование с высокой производительностью;
						li высококачественный европейский гибочный инструмент;
						li внимательное отношение к деталям.

					a.btn(href='#') Перезвоните мне

				.offset-lg-1.col-lg-5.col-md-4.order-1.order-md-2
					.info-block__img
						img(src="assets/img/about.png", alt="")
	
	section.desc-block.m-indent.clearfix
		.container
			.row
				.col-12
					img.img-left(src="assets/img/flexible.png", alt="")
					.desc-block__content
						h2 <b>Виды</b> гибки

						p Выполняя гибку заготовок из металла, наша компания использует разные способы и методы воздействия для придания необходимой формы и требуемых параметров, заданных в чертежах и ТЗ заказчика. Также оказываем услуги обработки металлических и профильных труб.
						p Перед тем как заказывать услуги гибки металла, необходимо понимать, что в зависимости от ориентирования заготовки разделяют такие виды гибки металла:

						ul.list-site
							li продольная – когда металл только изгибают;
							li поперечная – когда выполняется осаждение, вытягивание, перегибание заготовки, отгибание борта.

						p В первом, нашем случае гибка металла производится на станках, предназначенных для холодных металлов. Второй вариант используют, если при холодной обработке будет повышенное напряжение, если радиус искривления минимальный или необходима гибка толстого металла. Этот вариант мы не используем.

						p Мы выполняем следующие виды гибки в зависимости от типа контура изделия гибка металла:

						ul.list-site
							li одноугловой (V-, L- образной);
							li двухугловой (П-образной);
							li многоугловой;
							li криволинейной.

						p Гибку металла выполняем при помощи гидравлического или электромеханического прессов, усилие которых развивается до 100 тонн. В нашем распоряжении находятся станки, имеющие числовое программное управление, что позволяет получать продукцию стабильно высокого качества с высокой повторяемостью.

	section.sizes.m-indent
		.container
			.row
				.offset-md-2.col-md-8
					h2.text-center <b>Расчет стоимости</b> гибки металла прессом&nbsp;на&nbsp;заказ

			.row
				.offset-md-1.col-md-10
					.sizes__text
						p Цена за метр гибки металла в Москве зависит от объема и сложности выполняемых работ.
						p Минимальная стоимость заказа составляет 5 000 руб. (без учета стоимости материалов). Если Заказчик значительно увеличивает объем работ, то сумма 5 000 руб. включается в качестве скидки в следующий заказ.

			.row
				.col-12
					.sizes__table
						table.table-site.table-site_fixed.text-center
							thead
								tr
									th Толщина, мм
									th до 100 м, ₽
									th от 100 до 500 м, ₽
									th от 500 до 1000 м, ₽ 
									th Врезание, ₽ 

							tbody
								-
									var list=[
										{col1:'До 1,0', col2:'56', col3:'43', col4:'36', col5:'0'},
										{col1:'1,5,0', col2:'92', col3:'43', col4:'68', col5:'0'},
										{col1:'2,0', col2:'118', col3:'83', col4:'68', col5:'0'},
										{col1:'3,0', col2:'158', col3:'128', col4:'88', col5:'0'},
										{col1:'4,0', col2:'208', col3:'158', col4:'118', col5:'0'},
										{col1:'5,0', col2:'298', col3:'208', col4:'148', col5:'0'},
										{col1:'6,0', col2:'398', col3:'298', col4:'223', col5:'0'},
										{col1:'8,0', col2:'598', col3:'448', col4:'348', col5:'0'},
										{col1:'10,0', col2:'748', col3:'598', col4:'448', col5:'0'},
									]
								each item in list
									tr
										td= item.col1
										td= item.col2
										td= item.col3
										td= item.col4
										td= item.col5
									
			row
				.offset-md-1.col-md-10
					.sizes__text
						p При изготовлении деталей из материалов заказчика к базовым тарифам применяется повышающий коэффициент 1,2. Расчет гибки листового металла производится менеджером компании, цена за метр обработки металла рассчитывается индивидуально для каждого заказчика.
						p Работа со срочными заказами: цены на срочные заказы рассчитываются в индивидуальном порядке. Изготовление деталей осуществляется в день обращения либо на следующий день. Стандартная наценка за срочность составляет 100%. Также осуществляем 
							a(href="/gibka-metalla/gibka-stali") гибку стали
					
	section.m-indent
		.container
			.row
				.col-12
					.about
						.row
							.col-md-8.col-lg-6.align-self-center
								h2 <b>Гибка металла</b> на заказ - нюансы

								p Перед выполнением гибки металла прессом мы учитываем такие нюансы:

								ul.list-site
									li максимальный радиус при гибе, его сравнительный анализ с толщиной заготовки;
									li изначальный предел текучести металла;
									li вероятные отклонения параметров готового варианта деталей.

								p Такие данные особенно важны при гибке тонкого металла.
								p Без учета стоимости материала, цена на гибку металла определяется толщиной и длиной гиба, количеством гибов на изделии, сложностью гибов. Минимальная стоимость наших услуг составляет 5 тыс. руб., без стоимости металла.
								p При гибке деталей из материалов заказчика, используется повышающий коэффициент 1,2 к цена за метр. При гибке деталей из рифленых заготовок повышающий коэффициент составляет 1,5. При срочных заказах стоимость рассчитывается индивидуально.

							.col-md-4.col-lg-6
								.about__img.about__img_right
									img(src="assets/img/pipes2.png", alt="")

	section.slider-works-wrap.m-indent(id="our-works")
		.container
			.row
				.col-12
					h2.text-center <b>Выполненные</b> работы

					.slider-works.js-slider-works
						-
							var list=[
								{img:'work-slide1.jpg', text:'Емкость противопожарного запаса воды 41 м3'},
								{img:'work-slide2.jpg', text:'Емкость для питьевой воды наземная 120 м3'},
								{img:'work-slide3.jpg', text:'Емкость противопожарного запаса воды 41 м3'},
								{img:'work-slide4.jpg', text:'Емкость для питьевой воды наземная 120 м3'},
								{img:'work-slide3.jpg', text:'Емкость противопожарного запаса воды 41 м3'},
								{img:'work-slide2.jpg', text:'Емкость для питьевой воды наземная 120 м3'},
								{img:'work-slide1.jpg', text:'Емкость противопожарного запаса воды 41 м3'},
								{img:'work-slide4.jpg', text:'Емкость для питьевой воды наземная 120 м3'},
							]
						each item in list
							.slider-works-item
								.slider-works-item__img(style="background-image: url(assets/img/"+item.img+")")

								.slider-works-item__text= item.text

	section.contacts-wrap.m-indent(id="callback")
		.container
			.row
				.col-12
					.st-width
						.contacts
							.row
								.col-lg-5
									h2 <b>Свяжитесь</b> с нами

									.contacts-info
										.contacts-info__item
											.contacts-info__icon
												+svg('ic-phone','ic-phone', '15', '16')

											.contacts-info__val
												a(href="tel:+78127038347").contacts-info__phone +7 (812) 703 83 47

										.contacts-info__item
											.contacts-info__icon
												+svg('ic-mail','ic-mail', '18', '15')

											.contacts-info__val
												a(href="mailto:info@polytank.ru").contacts-info__mail info@polytank.ru

										.contacts-info__item
											.contacts-info__icon
												+svg('ic-clock','ic-clock', '18', '17')

											.contacts-info__val с 8.00 до 21.00

								.col-lg-7
									h2 <b>Или оставьте</b> заявку

									.js-valid-form
										form.form-site.form-site_line
											.form-site__content
												.form-site__item.js-form-site-item
													.form-site__label Ваше имя *
													.form-site__field
														input(type="text", required="required")

												.form-site__item.js-form-site-item
													.form-site__label Телефон *
													.form-site__field
														input(type="text", class="js-phone", required="required")

											.form-site__bottom
												.form-site__polit.js-form-site-polit
													label.input-check
														input(type='checkbox', checked="checked")
														span.input-check__mark
															+svg('ic-tick','ic-tick', '10', '6')
														span.input-check__text Согласен с пользовательским 
															a(href="#") соглашением и политикой конфиденциальности

												.form-site__btn
													button(type="submit").btn.btn_border-white.js-btn-submit Отправить
														+svg('ic-arr-right','ic-arr-right', '27', '9')

	section.reviews-slider-wrap.m-indent(id="reviews")
		.container
			.row
				.col-12
					h2.text-center <b>Отзывы</b> клиентов

					.reviews-slider.js-reviews-slider
						-
							var list=[
								{img:'irina.jpg', name:'Ирина Иванова', date:'6.04.2022', star:'100%', text:'Но на ремонт своими силами не было времени, а прекратить скитаться по съемным квартирам как можно быстрее очень хотелось. Поэтому решили нанять специалистов по ремонту, которые сделают это быстрее. Но на ремонт своими силами не было времени, а прекратить скитаться по съемным квартирам как можно быстрее очень хотелось. Поэтому решили нанять специалистов по ремонту, которые сделают это быстрее.'},
								//- {img:'vlad.jpg', name:'Владислав Иванов', company:'Компания «Политанк»', date:'12.06.2022', star:'80%', text:'Когда мы накопили с женой дене.'},
								{img:'vlad.jpg', name:'Владислав Иванов', company:'Компания «Политанк»', date:'12.06.2022', star:'80%', text:'Когда мы накопили с женой денег на квартиру и купили двушку, сразу встал вопрос о ее ремонте. Но на ремонт своими силами не было времени, а прекратить скитаться по съемным квартирам как можно быстрее очень хотелось. Поэтому решили нанять специалистов по ремонту, которые сделают это быстрее. Но на ремонт своими силами не было времени, а прекратить скитаться по съемным квартирам как можно быстрее очень хотелось. Поэтому решили нанять специалистов по ремонту, которые сделают это быстрее.'},
								//- {img:'vlad.jpg', name:'Владислав Иванов', company:'Компания «Политанк»', date:'12.06.2022', star:'80%', text:'Когда мы накопили с женой дене.'},
								{img:'vlad.jpg', name:'Георгий Иванов', company:'Компания «Политанк»', date:'12.06.2022', star:'80%', text:'Когда мы накопили с женой денег на квартиру и купили двушку, сразу встал вопрос о ее ремонте. Но на ремонт своими силами не было времени, а прекратить скитаться по съемным квартирам как можно быстрее очень хотелось. Поэтому решили нанять специалистов по ремонту, которые сделают это быстрее. Но на ремонт своими силами не было времени, а прекратить скитаться по съемным квартирам как можно быстрее очень хотелось. Поэтому решили нанять специалистов по ремонту, которые сделают это быстрее.'},
								{img:'vlad.jpg', name:'Иван Иванов', company:'Компания «Политанк»', date:'12.06.2022', star:'80%', text:'Когда мы накопили с женой денег на квартиру и купили двушку, сразу встал вопрос о ее ремонте. Но на ремонт своими силами не было времени, а прекратить скитаться по съемным квартирам как можно быстрее очень хотелось. Поэтому решили нанять специалистов по ремонту, которые сделают это быстрее. Но на ремонт своими силами не было времени, а прекратить скитаться по съемным квартирам как можно быстрее очень хотелось. Поэтому решили нанять специалистов по ремонту, которые сделают это быстрее.'},
								{img:'irina.jpg', name:'Мария Иванова', date:'6.04.2022', star:'100%', text:'Но на ремонт своими силами не было времени, а прекратить скитаться по съемным квартирам как можно быстрее очень хотелось. Поэтому решили нанять специалистов по ремонту, которые сделают это быстрее. Но на ремонт своими силами не было времени, а прекратить скитаться по съемным квартирам как можно быстрее очень хотелось. Поэтому решили нанять специалистов по ремонту, которые сделают это быстрее.'},
								{img:'vlad.jpg', name:'Василий Иванов', date:'12.06.2022', star:'80%', text:'Когда мы накопили с женой денег на квартиру и купили двушку, сразу встал вопрос о ее ремонте. Но на ремонт своими силами не было времени, а прекратить скитаться по съемным квартирам как можно быстрее очень хотелось. Поэтому решили нанять специалистов по ремонту, которые сделают это быстрее. Но на ремонт своими силами не было времени, а прекратить скитаться по съемным квартирам как можно быстрее очень хотелось. Поэтому решили нанять специалистов по ремонту, которые сделают это быстрее.'},
							]
						each item in list
							.review-item
								.review-item__img(style="background-image: url(assets/img/"+item.img+")")

								.review-item__content
									.review-item__top
										.review-item__name= item.name
										.review-item__date= item.date
									
									if(item.company)
										.review-item__company= item.company

									.rating
										.rating__content(style="width:"+item.star)

									.review-item__text
										.more-text.js-more-text
											.more-text__content.js-more-text-content= item.text

	section.m-indent
		.container
			.row
				.col-12
					h2.text-center <b>Сертификаты</b> и документы

					.certificate-slider.js-certificate-slider
						-
							var list=[
								{img:'certificate1.jpg'},
								{img:'certificate2.jpg'},
								{img:'certificate3.jpg'},
								{img:'certificate4.jpg'},
								{img:'certificate5.jpg'},
								{img:'certificate6.jpg'},
								{img:'certificate2.jpg'},
								{img:'certificate4.jpg'},
								{img:'certificate3.jpg'},
								{img:'certificate1.jpg'},
								{img:'certificate6.jpg'},
								{img:'certificate5.jpg'},
							]
						each item in list
							.certificate-slider__item
								a(data-fancybox='certificate-slider', data-src="assets/img/"+item.img)
									img(src="assets/img/"+item.img)

	section.map-wrap.mt-indent(id="contacts")
		.container
			.row
				.col-12
					.st-width
						.map
							.map-contacts
								.map-contacts__item
									.map-contacts__icon
										+svg('ic-phone','ic-phone', '15', '16')

									.map-contacts__val
										a(href="tel:+78127038347").map-contacts__phone +7 (812) 703 83 47

								.map-contacts__item
									.map-contacts__icon
										+svg('ic-address','ic-address', '16', '18')

									.map-contacts__val Петродворцовый район, посёлок Стрельна, Фронтовая улица, 3Б

								.map-contacts__item
									.map-contacts__icon
										+svg('ic-mail','ic-mail', '18', '15')

									.map-contacts__val
										a(href="mailto:info@polytank.ru").map-contacts__mail info@polytank.ru

								.map-contacts__item
									.map-contacts__icon
										+svg('ic-clock','ic-clock', '18', '17')

									.map-contacts__val с 8.00 до 21.00

								a.btn.btn_border-white.btn_small.js-link-move(href="#callback") Позвоните мне

							script(type='text/javascript' charset='utf-8' async='' src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac560a3a1ca7aaffe3ac59603c15a112d8eb937c8b8fde0e311a83eccd3e6351f&width=100%25&height=540&lang=ru_RU&scroll=true')